@model List<Company>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Company Listings</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-6 text-end">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" asp-route-id="0" class="btn btn-primary">
                    Create new company <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> Company Name  </th>
                    <th> Province </th>
                    <th> City </th>
                    <th> Phone Number </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td> @company.Name </td>
                        <td> @company.State </td>
                        <td> @company.City </td>
                        <td> @company.PhoneNumber </td>
                        <td>
                            <div class="w-75" role="group">
                                <a asp-controller="Company" asp-action="Upsert" asp-route-id="@company.Id" class="btn btn-primary mx-3">
                                    Edit <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-controller="Company" asp-action="Delete" asp-route-id="@company.Id" class="btn btn-delete btn-outline-danger mx-3">
                                    Delete <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
